.aboutSection {
  padding: 5rem 0;
  background-color: #1b2735;
  color: #f8f8f8;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.aboutInner {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

.aboutContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutText {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.aboutText h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: rgb(109, 131, 242);
  text-align: center;
}

.aboutText p {
  margin-bottom: 1rem;
  line-height: 1.6;
  text-align: center;
}



@media (max-width: 768px) {
  .aboutInner {
    padding: 0 1rem;
  }
  .aboutInner h1 {
    font-size: 2.5rem;
  }
  .aboutText h2 {
    font-size: 1.3rem;
  }
  .aboutText p, .aboutText li {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .aboutInner {
    padding: 0 1rem;
  }
  .aboutInner h1 {
    font-size: 2rem;
  }
  .aboutText h2 {
    font-size: 1.2rem;
  }
  .aboutText p, .aboutText li {
    font-size: 0.9rem;
  }
}